.ui.vertical.inverted.sidebar.menu.left.uncove
  .item
    h2 杭电良品
     small 后台
  .item
    .ui.icon.input
      input(type="text" placeholder="Search...")
      i.search.icon
  a.item.teal(data-tab="a") 商品分类管理
  a.item.teal(data-tab="b") 商品管理
  a.item.teal(data-tab="c") 商品审核
    .ui.label 21
  a.item.teal(data-tab="d") 用户管理
    .ui.label 11
  a.item.teal(data-tab="e") 管理员管理
.ui.teal.big.launch.right.attached.fixed.button.open-sidebar
  i.content.icon
  span.text 菜单
