#header
    .header-logobox
      a(href="/admin")
        img(src="/dist/images/logo.png" width="80%")
        h3.header-title 后台
    .header-rightbox
      .dropdown-shortcutkey.ui.inline.dropdown
        .text
        - var admin = {header: 'nan',name: 'elliot'}
          img.ui.avatar.image(src="../dist/images/nan.jpg")
          span #{admin.name}
           .menu
            a.item(href="/logout") 退出
