extends common/layout.jade
//- block append css
//-   link(rel='stylesheet', href='/dist/css/commodityList.css')
block content
	// 应该做成 select 类似的, 父级类别和类别级别应该还有相应的联动效果
	form(action="/admin/addCategory",method="POST")#addCategoryForm
		input(type="text",name='parent',placeholder="父级类别")#parentCategory
		input(type="number",name='leavel',placeholder="类别级别")#leavelCategory
		input(type="text",name='name',placeholder="类别名称")#nameCategory
		input(type="submit",value="添加")#addCategoryBtn
				
				
