@import 'mixin.scss';
@import 'params.scss';

/*****************************************
* 发布商品
*****************************************/

.publish-box{
  background:#fff;
  padding:20px 40px;
  margin-top:30px;
  border-radius:5px;
  .ui.input input,
  .ui.selection.dropdown{
    min-height:30px;
    height:30px;
    padding:5px 10px;
    margin-right:20px;
  }
  label{
    @include flex-basis(100px);
  }
  .box-title{
    font-size:1.3em;
    margin-bottom:40px;
  }
  .publish-info{
    color:$semantic-grey;
  }
  .publish-waring{
    color:$semantic-red;
  }
  .publish-line{
    @include flex;
    @include align-items(center);
    margin:10px 0;
  }
  .sub-publish-box{
    position:relative;
    margin-bottom:40px;
  }
  .sub-publish-box:before{
    content:"";
    position:absolute;
    width:5px;
    height:100%;
    left:-20px;
    top:0;
    background:$semantic-teal;
  }
  .publish-change-info-btn{
    color:$semantic-blue;
    cursor:pointer;
  }
  .publish-btn-box{
        @include justify-content(center);
  }
}
/*****************************************
* 编辑商品
*****************************************/



.edit-container{
  width:100%;
  @include flex();
  @include justify-content(space-between);
  padding-top:30px;
  .edit-line{
    @include flex;
    @include align-items(center);
    &.center{
      @include justify-content(center);
    }
  }
  .edit-box-title{
    font-size:1.2em;
    font-weight:normal;
    margin-bottom:0;
  }
  .edit-info{
    font-size:0.9em;
    color:$semantic-grey;
    &.tip{
      color:$semantic-orange;
      margin-bottom:40px;
    }
  }
  .ui.input input,
  .ui.selection.dropdown{
    min-height:30px;
    height:30px;
    padding:5px 10px;
  }

  .edit-big-box{
    background:#fff;
    padding:20px 40px;
    border-radius:5px;
    width:700px;
    label{
      @include flex-basis(70px);
    }
    form{
      margin-top:10px;
    }
    .edit-big-box-title-box{
      @include justify-content(space-between);
    }

  }
  .edit-box-list{
    width:300px;
  }
  .edit-commodity-info,
  .edit-img,
  .edit-concat-info{
    background:#fff;
    border-radius:5px;
    margin-bottom:30px;
    box-sizing:border-box;
    padding:15px 15px;
    .edit-line{
      @include justify-content(space-between);
      margin:10px 0;
    }
    input,
    .ui.selection{
      text-align:center;
    }
  }
  #rich-text-box{
    margin:25px auto;
    width:100%;
    height:1000px;
    background:$semantic-grey;
  }
  .edit-img{
    .img-box{
      width:270px;
      height:270px;
      background:$semantic-grey;
      margin:0 auto;
    }
    img{
      width:270px;
      height:270px;
    }
  }
}

/*****************************************
* 展示商品
*****************************************/
.commodity-detail-box{
  padding-top:30px;
  @include flex;
  @include justify-content(space-between);
  .commodity-detail-post{
    @include flex-basis(700px);
    background:#fff;
    height:1300px;
    padding:20px 40px;
    border-radius:5px;
    .post-title{
      text-align:center;
      font-size:1.2em;
    }
    .commodity-sub-title{
      @include flex;
      @include justify-content(space-between);
      color:$semantic-grey;
      .commodity-category{
        margin-right:20px;
      }
      .commodity-sub-title-right{
        @include flex;
      }
      .visited-num{
        margin-right:10px;
      }
    }
  }
  .commodity-detail-list{
    @include flex-basis(300px);
  }
  .commodity-info-detail,
  .commodity-user-info,
  .commodity-user-commodities{
    margin-bottom:20px;
    background:#fff;
    padding:15px;
    border-radius:5px;
  }
  .commodity-info-detail{
    padding:5px 15px;
    h2{
      color:$semantic-grey;
      font-weight:normal;
      font-size:1em;
      margin:0;
    }
    .detail-line{
      @include flex;
      @include align-items(center);
      @include justify-content(space-between);
      margin:10px 0;
    }
  }
  .commodity-user-info{
    .info-header{
      @include flex;
      .image{
        width:80px;
        height:80px;
        margin-right:20px;
      }
      .info-as-name{
        padding:7px 0;
      }
      .user-name{
        color:$semantic-black;
        font-size:1.2em;
      }
      .user-num{
        @include flex;
        margin-top:20px;
        .user-follow-num{
          padding-right:20px;
          margin-right:20px;
          border-right:1px solid $semantic-grey;
        }
        a{
          color:$semantic-grey;
        }
      }
    }
    .detail-line{
      @include flex;
      @include justify-content(space-between);
      margin:10px 0;
    }
  }
  .commodity-user-commodities{
    h2{
      color:$semantic-grey;
      font-weight:normal;
      font-size:1em;
      margin:0;
    }
    .items-show-box{
      @include flex;
      position:relative;
      .left-btn,
      .right-btn{
        cursor:default;
        padding:33px 0;
        width:15px;
        height:80px;
        position:absolute;
        z-index:2;
        &:hover{
          background:#efefef;
        }
      }
      .left-btn{
        left:-10px;
      }
      .right-btn{
        right:-10px;
      }
      .image{
        width:80px;
        height:80px;
        margin:0 5px;
      }
    }
  }

}
