//body定宽
$bodyWidth: 1024px;
// 全局header 高度
$headerHeight: 70px;

$orange: #f2711c;
$blue: #3399FF;
$green: #33CC33;

// semantic-ui 设置的颜色等
// 有更改请注释出

$semantic-red: #DB2828;
$semantic-orange: #F2711C;
$semantic-yellow: #FBBD08;
$semantic-olive: #B5CC18;
$semantic-green: #21BA45;
$semantic-teal: #00B5AD;
$semantic-blue: #2185D0;
$semantic-violet: #6435C9;
$semantic-purple: #A333C8;
$semantic-pink: #E03997;
$semantic-brown: #A5673F;
$semantic-grey: #767676;
$semantic-black: #1B1C1D;

