#header
  .header-logobox
    a(href="/")
      img(src="/dist/images/logo.png" width="80%")
  .header-rightbox
    .searchbox.ui.icon.input
      input(placeholder="搜索商品、用户" type="text")
      i.circular.search.link.icon
    if user
      .myinforbox
        a.message-btn(href="#")
          i.mail.icon
          .ui.circular.orange.label.mini 22
        .dropdown-shortcutkey.ui.inline.dropdown
          .text
            img.ui.avatar.image(src= user.header, alt="用户头像")
            span #{user.nickName}
          .menu
            a.item(href="/user/" + user._id) 个人中心
            a.item(href="/user/userTop") 用户推荐
            a.item(href="/user/setting") 设置
            a.item(href="/auth/logout") 退出
    else
      .sign-btns.ui.buttons
        a(href="/auth/login",class="ui button") 登录
        .or
        a(href="/auth/reg",class="ui button positive") 注册
