//- ul.pagination
//-   - for(var i = 1; i<= 10; i++)
//-     li
//-       a(href="#" class="active")= i
.my-pagination
  .ui.pagination.menu
    a(href="#" class="active item") 1
    a(href="#" class="disabled item") ...
    a(href="#" class="item") 10
    a(href="#" class="item") 11
    a(href="#" class="item") 12
    a(href="#" class="item") 13
