//-  布局是github用户界面样式
div.user-list
  - var userList = userList;
  each item in userList
    div.user-item
      div.user-item-img
        a(href="/user/"+item._id)
          img(src=item.header , alt="用户头像" class="user-item-img")
      div.user-item-info
        a(href="/user/"+item._id ,class="user-item-name")= item.nickName
        p.user-item-intro
          span=item.intro
        if item.mutual && activeMyFocus || item.mutual && avtiveMyFollows
          button.user-unfollow-btn
            a.flBtn(href="/rmFocus/"+ item._id) 互相关注
        else if activeMyFocus && !item.mutual
          button.user-unfollow-btn
            a.flBtn(href="/rmFocus/"+ item._id) 取消关注
        else
          button.user-follow-btn
            a.flBtn(href="/addFocus/"+ item._id) 添加关注
block append script
  script.
    document.querySelector('.user-list').onclick = function(e) {
      e.preventDefault();
      if (e.target.className == 'flBtn') {
        var href = e.target.href;
        getDateByGet(href, function(data) {
          console.log(data);
        });
      }
    }
