extends ../layout.pug
block append css
  link(rel='stylesheet', href='/dist/css/setting.css')
block content
  div.user-setting-content
    div.user-setting-edit-box
      div.setting-top
        h1.setting-title 账号安全
        button.ui.button.orange.small(onclick="$('form').submit()") 保存
      .ui.divider.inverted
      div.user-setting-form
        form(action="/settingPass" method="POST")
          .setting-line
            label(for="oldPassword") 旧密码
            .ui.input
              input(type="password" id="oldPassword" name="oldPassword")
              a.forget-password(href="") 忘记密码？
          .setting-line
            label(for="newPassword") 新密码
            .ui.input
              input(type="password",id="newPassword",name="newPassword")
          .setting-line
            label(for="reNewPassword") 确认密码
            .ui.input
              input(type="password",id="reNewPassword",name="reNewPassword")
            p
              input(type="submit",value="提交")
    include sidebar
