extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/setting.css')
block content
  div.user-setting-content
    div.user-setting-edit-box
      div.setting-top
        span.setting-title 修改头像
      div.user-setting-form
        form(action="#" methods="POST")
          input(type="file",name="userHeader",id="upload-input",class="hidden")
          p.setting-line 巴拉巴拉的一些上传说明(图片大小，格式要求等等)
          //- 上传的控件
          div.upload-header
            
          p.setting-line
            input(type="submit",value="保存",class="setting-save-btn")
    include settingSideBar
