extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/setting.css')
block content
  div.user-setting-content
    div.user-setting-edit-box
      div.setting-top
        h1.setting-title 第三方绑定
        button.ui.button.orange.small(onclick="$('form').submit()") 保存
      .ui.divider.inverted
      div.user-setting-form
        form(action="/settingBind" method="POST")
          .setting-line
            label(for="oldPassword") 绑定
            a.ui.button.qq.blue.small
              i.icon.qq
              腾讯 Q Q
            a.cancelBind(href="#") 取消绑定
          .setting-line
            label(for="newPassword") 绑定
            a.ui.button.weibo.red.small
              i.icon.weibo
              新浪微博
            a.cancelBind(href="#") 取消绑定
    include settingSideBar
