extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/setting.css')
block content
  div.user-setting-content
    div.user-setting-edit-box
      div.setting-top
        h1.setting-title 修改头像
        button.ui.button.orange.small(onclick="$('form').submit()") 保存
      .ui.divider.inverted
      div.user-setting-form
        form(action="settingHeader" method="POST")
          input(type="file",name="userHeader",id="upload-input",class="hidden")
          p.setting-line 巴拉巴拉的一些上传说明(图片大小，格式要求等等)
          //- 上传的控件
          div.upload-header
            
    include settingSideBar
