extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/setting.css')
block content
  div.user-setting-content
    div.user-setting-edit-box
      div.setting-top
        span.setting-title 个人资料
      div.user-setting-form
        form(action="#" methods="POST")
          p.setting-line
            label(for="nickName")暱称
              input(type="text",id="nickName",name="nickName")
          p.setting-line
            label(for="phoneNum")手机号
              input(type="tel")
              span.get-verification-btn.hidden 获取验证码
            //- 点击获取验证码 显示
            span.got-verification-btn
              span.second-time 20
              span s之后再次获取
          p.setting-line
            label(for="realName")真实姓名
              input(type="text",id="realName",name="realName")
          p.setting-line
            label(for="qq") qq
              input(type="tel",id="qq",name="qq")
          p.setting-line
            label(for="wechat") 微信
              input(type="text",id="wechat",name="wechat")
          p.setting-line
            label(for="sex") 性别
              select(name="sex",id="sex",class="setting-sex")
                - sexList = ['男子汉','小娘子']
                - each item,index in sexList
                  option(value=index) #{item}
          p.setting-line
            //- 日历控件
            label(for="brithday") 生日
              input(type="datetime",id="brithday",name="brithday")
          p.setting-line
            input(type="submit",value="保存",class="setting-save-btn")
    include settingSideBar
    
