extends ../public/layout.jade
block content
    form(method="POST", action="/reply")
        input(type="hidden", value="111", name="commodityId")
        input(type="hidden", value="222", name="masterId")
        input(type="hidden", value="333", name="replyId")
        input(type="text", placeholder="你的留言", name="content")
        input(type="submit", value="提交")
