extends ../layout.pug
block content
  form(method="POST", action="/reply")
    input(type="hidden", value="56f7800d8f58030205af7ba8", name="commodityId")
    input(type="hidden", value="56f7800d8f58030205af7ba8", name="masterId")
    input(type="hidden", value="56f7800d8f58030205af7ba8", name="replyId")
    input(type="text", placeholder="你的留言", name="content")
    input(type="submit", value="提交")
