#header
    .header-logobox
        img(src="/dist/images/logo.png" width="80%")
    .header-rightbox
        .searchbox.ui.icon.input
            input(placeholder="搜索商品、用户" type="text")
            i.circular.search.link.icon
        //.sign-btns.ui.buttons
        //    button.ui.button 登录
        //    .or
        //    button.ui.button.positive 注册
        .myinforbox
            a.message-btn(href="#")
                i.mail.icon
                .ui.circular.orange.label.mini 22
            .dropdown-shortcutkey.ui.inline.dropdown
                .text
                    img.ui.avatar.image(src="/dist/images/jenny.jpg")
                    span username
                    .menu
                        a.item(href="#") 我的闲置
                        a.item(href="#") 我的关注
                        a.item(href="#") 设置
                        a.item(href="#") 退出

