div.user-center-header
  div.my-infos-box    
    - numList = [{type:'关注',num:22},{type:"信徒",num:33},{type:"闲置",num:44}]
    - each item in numList
      span.user-center-header-info
        a(href="#",class="user-num-info")= item.num
        a(href="#",class="user-num-type")= item.type
    a(href="#",class="to-publish-new") 发布新的闲置

  div.my-header-box
    img(src="/dist/images/header.jpg", alt="user header")
    p.user-name 烟树
