//-  布局是github用户界面样式
div.user-list
  - userList = [{id:111,name:'烟树',intro:'浙江 宁波',hasfollow:true,header:'/dist/images/header.jpg'},{id:222,name:'念树',intro:'浙江 杭州',hasfollow:true,header:'/dist/images/header.jpg'},{id:333,name:'饼饼',intro:'浙江 余姚',hasfollow:false,header:'/dist/images/header.jpg'},{id:444,name:'阿炳',intro:'浙江 杭电',hasfollow:true,header:'/dist/images/header.jpg'},{id:555,name:'ahbing',intro:'浙江 betahouse',hasfollow:true,header:'/dist/images/header.jpg'},{id:666,name:'loser',intro:'浙江 222',hasfollow:false,header:'/dist/images/header.jpg'}]
  - each item in userList
    div.user-item
      div.user-item-img
        a(href="user/"+item.id)
          img(src=item.header , alt="用户头像" class="user-item-img")
      div.user-item-info
        a(href="user/"+item.id ,class="user-item-name")= item.name
        p.user-item-intro
          span=item.intro
        - if(item.hasfollow)
          button.user-unfollow-btn 取消关注
        - else
          button.user-follow-btn 关注
