extends ../public/layout.jade
block append css
  link(rel='stylesheet', href='/dist/css/commodityList.css')
block content
  div.commodity-list
    div.commodity-list-top
      // 此处下拉样式需重写
      div.sort-btn.ui.dropdown
        i.filter.icon
        span.text 最新商品
        .menu
          span 优质用户
      a(href="/publish", class="publish-btn ui inverted green button") 发布闲置
    .ui.divider
      // 操作 一级导航不进行实质上的操作, 只进行第二级导航选择
  div.commodity-nav
      div.commodity-first-nav
          .item.active
            i.icon.certificate
            span 全部
          - each item in firstCategories
            .item
              i.icon.certificate
              span(data-id=item._id)= item.name
      div.commodity-second-nav
          .item.active
            span 全部
          - each item in secondCategories
            .item
              span(data-id=item._id)= item.name

    .commodity-cards
      - for (var i = 0,len = commodities.length; i < len; i++)
        include ../public/commodityCard
